
.logo {
  color: #E74646;
  font-size: 45px;
  font-style: italic;
  font-weight: 900;
  padding-left: 36px;

}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

nav {
	padding: 15px;
	background-color: #FFFFFF;
	width: 100%;
	border-bottom: 2px solid #E74646;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

@media (max-width: 600px) {
	nav ul {
		margin: unset;
		display: unset;
		position: relative;
		right: 30px;
	}
}

nav li {
	list-style-type: none;
}

nav li a {
	margin: 0 15px;
	padding: 10px 5px 15px 5px;
	color: #828282;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-size: 0.8rem;
}

nav li a:hover {
	color: #E74646;
	border-bottom: 2px solid #E74646;
}


