
<div class="panel">
 
    <div class="update-card-container">

        <div class="update-card" >
            <p-card subheader="{{latestUrlItem.field}}" [style]="{'height': '180px'}">
              
                <p>
                    {{latestUrlItem.data}}
                </p>
         
                <p>
                    {{latestUrlItem.subdata}}
                </p>
            </p-card>
        </div>
        
    </div>
    <div class="update-card-container">

        <div class="update-card" >
            <p-card subheader="{{newUrlGeneratedItem.field}}" [style]="{'height': '180px'}">
                <p class="update-card-title">
                    {{newUrlGeneratedItem.data_title}}
                </p>
                <p>
                    {{newUrlGeneratedItem.data}}
                </p>
                <p class="update-card-title">
                    {{newUrlGeneratedItem.subdata_title}}
                </p>
                <p>
                    {{newUrlGeneratedItem.subdata}}
                </p>
            </p-card>
        </div>
        
    </div>
    <div class="update-card-container-">
        <div class="update-card" >
            <p-card subheader="{{totalClicks.field}}" [style]="{'height': '180px'}">
                <p class="update-card-title">
                    {{totalClicks.data_title}}
                </p>
                <p>
                    {{totalClicks.data}}
                </p>
                <p class="update-card-title">
                    {{totalClicks.subdata_title}}
                </p>
                <p>
                    {{totalClicks.subdata}}
                </p>
            </p-card>
        </div>
        
    </div>
</div>
