.panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    padding-top: 50px;
}
.update-card {
    width: 280px;
    height: 240px;
    margin: 16px 16px;
}

.update-card-title {
    font-size: 12px;
}



@media screen and (max-width: 768px) {
    .panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .update-card-container-div {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .update-card {
        width: 260px;
    }

    .update-card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    * {
        padding: 0;
        margin: 0;
    }
}