.card {
    height: 100%;
    margin: 0 32px;
}
.card > div {
    display: flex;
    justify-content: center;
    
}

.form-container {
    display: flex;
    width: 65%;
    margin-bottom: 32px;
}

.container {
    display: flex;
    justify-content: center;
}

.p-inputgroup {
    margin: 16px 0 0 8px;
}

.button-submit {
    margin: 16px 0 0 8px;
}

input.input {
    width: 200px;
}

.input-form {
    width: 200px
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        align-items: flex-end;
        padding: 0;
    }
    .p-inputgroup {
        padding: 0;
        margin: 0;
        margin-left: 8px;
        margin-bottom: 16px;
        
    }
    .form-container {
        width: 65%;
        
        
    }
    .button-submit {
        display:flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        margin-left: 8px;
    }
    .card {
        margin: 0;
        padding: 0;
    }
    .url-card { 
        width: 85%;
    }


}