
<div class="card">
    <p-card header="Clicks over time" >
        <form class="form" [formGroup]="linkForm">
            <div class="container">
                <div class="form-container">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Url</span>
                        <p-autoComplete class="test" [style]="{'width': '100%'}" formControlName="link" [suggestions]="filteredUrl" (completeMethod)="filterUrl($event)" ></p-autoComplete>
                    </div>
                    <div class="button-submit">
                        <p-button label="Add" styleClass="p-button-danger" (onClick)="onLinkFormSubmit()"></p-button>
                    </div>
                </div>
            </div>
        </form>
        <p-chart type="line" [data]="data" [options]="options"></p-chart>
        
    </p-card>
    
    
</div>
<p-toast></p-toast>