

<div class="grid">
    <div class="col-12 md:col-6">
        <form class="form" [formGroup]="searchInputForm">
            <div class="card p-fluid">
                <h1> Search for ServiceApi user item </h1>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label>Input:</label>
                        <input  type="text" pInputText placeholder="searchinput" formControlName="searchinput" />
                    </div>
                   
                </div>
                
                <div class="button-submit">
                    <div>
                        <p-button label="Submit" (onClick)="onSearchInputFormSubmit()"></p-button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-12 md:col-6">
        <form class="form" [formGroup]="searchIdForm">
            <div class="card p-fluid">
                <h1> Search for ServiceApi with ID </h1>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label>ID:</label>
                        <input  type="text" pInputText placeholder="ID" formControlName="serviceapiid" />
                    </div>
                  
                </div>
                <div class="button-submit">
                    <div>
                        <p-button label="Submit" (onClick)="onSearchIdFormSubmit()"></p-button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        

    </div>

    <div class="grid">
        <div class="col-12">
            <div class="card">
                <p-table [value]="users" styleClass="p-datatable-striped p-datatable-gridlines"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [paginator]="true"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5, 10, 15]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th id="userid">ID</th>
                            <th id="username" >Name</th>
                            <th id="userrole" >Role</th>
                            <th id="activestatus" >Active Status</th>
                           
                            <th id="secretkey" >Secret Key</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td>{{user.serviceapiID}}</td>
                            <td>{{user.serviceapiName}}</td>
                            <td>{{user.serviceapiRole}}</td>
                            <td>{{user.activeStatus}}</td>
                            
                            <td>{{user.serviceapiSecretKey}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </div>
    
        </div>
    </div>