.button-submit {
    display: flex;
    flex-direction: row-reverse;

}

.card {
    margin-bottom: 32px;
}

.grid {
    margin: 0 32px;
}

@media only screen and (max-width: 768px) {

    .grid {
        margin: 0;
    }

}