
<div class="panel">
    <div class="admin-tab">
        
        <p-card >
            <p-tabMenu [scrollable]="true" [model]="items" (activeItemChange)="onActiveItemChange($event)" [style]="{'border-radius':'12px'}"></p-tabMenu>
        </p-card>
    </div>
    

</div>




<app-create-form  *ngIf="activeItem.label === 'Create'"></app-create-form>
<app-update-form  *ngIf="activeItem.label === 'Update'"></app-update-form>
<app-delete-form  *ngIf="activeItem.label === 'Delete'"></app-delete-form>
<app-read-form    *ngIf="activeItem.label === 'Read'"> </app-read-form>
